<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/navigation.ejs') %>
    <main
      class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center"
    >
      <section>
        <h1 class="display-1">Abaut</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          dignissimos quibusdam inventore incidunt facere, impedit nihil
          officiis nesciunt harum amet iure ut fuga ducimus doloribus animi
          magnam fugit dolor similique eum ex tempore hic! Tempore laudantium
          error tenetur alias quidem commodi rem laborum accusantium quasi
          possimus, dolores, repellat excepturi. Vitae rerum illo aut aliquid
          magni accusamus, quidem recusandae vel quam praesentium facere non
          mollitia doloremque nesciunt eius totam, unde autem voluptas
          repudiandae necessitatibus consequatur iste quae voluptate minus?
          Nemo, officiis corrupti maxime neque quod distinctio, quisquam
          eligendi ullam in a ad, illo omnis provident error amet saepe
          reiciendis nulla? Temporibus similique itaque eius libero delectus
          reprehenderit illo vitae impedit quidem sed culpa sunt, dolores
          molestias fugiat? Animi corrupti nihil odio possimus nulla facere sunt
          vero vitae, reprehenderit iure quae mollitia voluptate inventore
          corporis tenetur facilis hic neque repellendus perspiciatis officiis?
          Quasi obcaecati, unde, ipsum ipsa odit nam nisi, officia placeat
          tempore quos adipisci sit tempora. Labore facere praesentium vitae in
          adipisci error laboriosam hic sapiente voluptatum ut quisquam eos
          doloremque veniam ullam odio rem, natus reiciendis perferendis neque
          aperiam! Natus perspiciatis deserunt placeat dolor beatae neque
          accusamus, odio eos, tenetur nostrum quaerat perferendis, dolorem
          officiis eum inventore veritatis iure error.
        </p>
      </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
